# IntelliJ IDEA
.idea/
*.iml

# Maven
target/

# Logs
logs/
*.log

# Environment
.env

# JWT Keys
*.pem
src/main/resources/keys/private_key.pem
auth-service/src/main/resources/keys/private_key.pem

# OS
.DS_Store
Thumbs.db